<!DOCTYPE html>
<html>
<head>
	{% block meta_tag %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	{% block stylesheet %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
{% block javascript %}{% endblock %}
</html>